@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --mk-dark: #1d1d1d;
    --mk-dark-page: #121212;

    --mk-primary: #5E81AC; 
    --mk-secondary: #88C0D0; 
    --mk-accent: #8FBCBB; 
    --mk-positive: #53B689; 
    --mk-negative: #c10015; 
    --mk-info: #31ccec; 
    --mk-warning: #f2c037;
  }

}
