<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}"/>

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <!-- Roboto fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
</head>

<body class="bg-slate-900 font-roboto">

<div class="w-full flex flex-col h-svh max-h-svh">

  <div class="flex w-full h-auto">
    <div class="sticky top-0 w-full">
      {% block header %}
      {% include "/shared/_header.html" %}
      {% endblock %}
    </div>
  </div>

  <div class="w-full h-full flex">
      
    <div class="h-full flex-[0.3]">
      <!-- Left Sidebar -->
      <div class="grid h-full place-content-center bg-green-600">
        <h1 class="text-xl">Left</h1>
        <h1 class="text-xl">Sidebar</h1>
      </div>
    </div>

    <div class="h-full flex-1">
        <!-- Main Content Area -->
        
        
        <div>
          <!-- Content -->
          <h1 class="text-center text-xl">Content</h1>
        </div>
        
    </div>

    <div class="h-full flex-[0.3]">
        <!-- Right Sidebar -->
        <div class="grid h-full place-content-center bg-blue-600">
          <h1 class="text-xl">Right</h1>
          <h1 class="text-xl">Sidebar</h1>
        </div>
    </div>

  </div> 

  <div class="w-full">
          <!-- Footer -->
          <div class="bg-yellow-600 py-12">
            <h1 class="text-center text-xl">Footer</h1>
          </div>

  </div>

</div>

    <!--
    {% block content %}
    {% endblock %}

    {% block sidebar %}
    {% include "/shared/_sidebar.html" %}
    {% endblock %}

    {% block footer %}
    {% include "/shared/_footer.html" %}
    {% endblock %}
    -->
</body>
</html>
